# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

bun.lockb
yarn.lock

# ide
.idea
*.iml

# python
venv/
venv_wsl/
__pycache__/
*.pyc
.venv_wsl
/
.venv/
# Node.js
node_modules/
npm-debug.log
yarn-error.log

# API Specific
api/node_modules/

