ansible==10.7.0
ansible-core==2.17.14
cffi==2.0.0
cryptography==46.0.3
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pycparser==2.23
PyYAML==6.0.3
resolvelib==1.0.1
typing_extensions==4.15.0
requests>=2.31.0
azure-cli>=2.61.0
azure-identity>=1.16.0
azure-mgmt-resource>=23.1.0
azure-mgmt-storage>=21.1.0
msrestazure>=0.6.4
