---
- name: Deploy Azure Storage Account via Bicep
  hosts: localhost
  connection: local
  gather_facts: false
  collections:
    - azure.azcollection

  vars:
    resource_group_name: "portfo"
    location: "eastus"
    storage_account_name: "storage_samueladebodun"
    bicep_file: "{{ playbook_dir }}/../main.bicep" 
    json_template_file: "{{ playbook_dir }}/../main.json" 

  tasks:
    - name: Compile Bicep to JSON
      ansible.builtin.command:
        cmd: "az bicep build --file {{ bicep_file }} --outfile {{ json_template_file }}"

    - name: Deploy Storage Account using ARM Template
      azure.azcollection.azure_rm_deployment:
        state: present
        resource_group_name: "{{ resource_group_name }}"
        deployment_name: "ansible-bicep-deploy"
        location: "{{ location }}"
        template: "{{ lookup('file', json_template_file) }}"
        parameters:
          storageAccountName:
            value: "{{ storage_account_name }}"
          location:
            value: "{{ location }}"
      register: output

    - name: Show Deployment Output
      ansible.builtin.debug:
        msg: "{{ output.deployment.outputs }}"

    # Optional: Clean up the generated JSON file after deployment
    - name: Remove generated JSON template
      ansible.builtin.file:
        path: "{{ json_template_file }}"
        state: absent