---
- name: Build and Upload to Azure Blob Storage
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    resource_group_name: "portfo"
    location: "eastus"
    storage_account_name: "storagesamueladebodun"
    
    project_root: "{{ playbook_dir }}/.."
    build_output: "{{ project_root }}/dist"

  tasks:
    - name: Build the project locally
      ansible.builtin.command:
        cmd: npm run build
        chdir: "{{ project_root }}"
      register: build_output_log
      changed_when: true

    - name: Enable Static Website Hosting
      ansible.builtin.command:
        cmd: >
          az storage blob service-properties update
          --account-name {{ storage_account_name }}
          --static-website true
          --404-document 404.html
          --index-document index.html
      register: static_web_enable
      changed_when: "'staticWebsite' in static_web_enable.stdout"

    - name: Upload dist folder to $web container
      ansible.builtin.command:
        cmd: >
          az storage blob upload-batch
          --account-name {{ storage_account_name }}
          --source {{ build_output }}
          --destination '$web'
          --overwrite true
      register: upload_result
      changed_when: upload_result.stdout != ""

    - name: Purge Cloudflare Cache
      ansible.builtin.uri:
        url: "https://api.cloudflare.com/client/v4/zones/{{ lookup('env', 'CLOUDFLARE_ZONE_ID') }}/purge_cache"
        method: POST
        headers:
          Authorization: "Bearer {{ lookup('env', 'CLOUDFLARE_API_TOKEN') }}"
          Content-Type: "application/json"
        body_format: json
        body:
          purge_everything: true
        status_code: 200
      register: cf_purge
      when: upload_result.changed

