---
- name: Build and Upload to Azure Blob Storage
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    resource_group_name: "portfo"
    location: "eastus"
    storage_account_name: "storagesamueladebodun"
    
    project_root: "{{ playbook_dir }}/.."
    build_output: "{{ project_root }}/dist"

  tasks:
    - name: Build the project locally
      ansible.builtin.command:
        cmd: npm run build
        chdir: "{{ project_root }}"
      register: build_output_log
      changed_when: true

    - name: Enable Static Website Hosting
      ansible.builtin.command:
        cmd: >
          az storage blob service-properties update
          --account-name {{ storage_account_name }}
          --static-website true
          --404-document 404.html
          --index-document index.html
      register: static_web_enable
      changed_when: "'staticWebsite' in static_web_enable.stdout"

    - name: Upload dist folder to $web container
      ansible.builtin.command:
        cmd: >
          az storage blob upload-batch
          --account-name {{ storage_account_name }}
          --source {{ build_output }}
          --destination '$web'
          --overwrite true
      register: upload_result
      changed_when: upload_result.stdout != ""

    - name: Purge Azure Front Door Cache
      block:
        - name: Get Front Door Profile Name
          ansible.builtin.shell:
            cmd: az afd profile list --resource-group {{ resource_group_name }} --query "[0].name" -o tsv
          register: fd_profile_query
          changed_when: false

        - name: Get Front Door Endpoint Name
          ansible.builtin.shell:
            cmd: az afd endpoint list --profile-name {{ fd_profile_query.stdout }} --resource-group {{ resource_group_name }} --query "[0].name" -o tsv
          register: fd_endpoint_query
          changed_when: false

        - name: Run Purge Command
          ansible.builtin.command:
            cmd: >
              az afd endpoint purge
              --resource-group {{ resource_group_name }}
              --profile-name {{ fd_profile_query.stdout }}
              --endpoint-name {{ fd_endpoint_query.stdout }}
              --domains "www.samueladebodun.com" "samueladebodun.com"
              --content-paths "/*"
          register: purge_result
          changed_when: "'Succeeded' in purge_result.stdout"
      when: upload_result.changed
